body{
	margin: 0px;
}
header{
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
	/*border: solid 1px red;*/
}
.basics{
	color: white;
	font-family: arial, helvetica, sans serif;
}

#fondoMain{
	width:100%;
	height:100vh;
	color:white;
	background-color:blue;
	background-image: url("./imgs/cosmere.jpg");
	background-size: 100% 100%;
}

#scadrial{
	width:25.4666%;
	height:31.3333%;
	background-image: url("./imgs/scadrial.png");
	background-size: 100% 100%;
}
#roshar{
	width:31.5666%;
	height:38.3888%;
	background-image: url("./imgs/roshar.png");
	background-size: 100% 100%;
}
#nalthis{
	width:9.7666%;
	height:17.6111%;
	background-image: url("./imgs/nalthis.png");
	background-size: 100% 100%;
}
#sel{
	width:22.8666%;
	height:12.0555%;
	background-image: url("./imgs/sel.png");
	background-size: 100% 100%;
}
#fots{
	width:21.2%;
	height:16.8333%;
	background-image: url("./imgs/fots.png");
	background-size: 100% 100%;
}
#taldain{
	width:17.9666%;
	height:33.2222%;
	background-image: url("./imgs/taldain.png");
	background-size: 100% 100%;
}
#threnody{
	width:10.7%;
	height:30.4444%;
	background-image: url("./imgs/threnody.png");
	background-size: 100% 100%;
}
#titulo{
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	margin-top: 0px;
	position: sticky;
}

.selectable{
	border: 1px solid transparent;
}
.selectable:hover{
	border-color: white;
	border-width: 20px;
}

img {max-width: 100%; height: auto;}

.imagemap {position: relative;}
.imagemap img {display: block;}
.imagemap .area {display: block; position: absolute; transition: box-shadow 0.15s ease-in-out;}
.imagemap .area:hover {box-shadow: 0px 0px 1vw rgba(0,0,0,0.5);}